<div style="background: #00050d; min-height: 100vh;">
  <app-top-nav></app-top-nav>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <mat-divider></mat-divider>
  <div class="footer-content" style="margin: 1rem;">
    <div>
      <span style="font-size: 0.75rem">Data Updated: {{ lastUpdate }}</span>
    </div>
    <!-- <div>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile style="display:flex;">
          <div style="width: 100%; height: 100%;padding: 1rem;">
            <span>Social Media</span>
            <mat-divider class="divider"></mat-divider>
            <div>

            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display:flex;f: baseline;">
          <div style="width: 100%; height: 100%;padding: 1rem;">
            <span>Legal</span>
            <mat-divider class="divider"></mat-divider>
            <div>

            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display:flex;f: baseline;">
          <div style="width: 100%; height: 100%;padding: 1rem;">
            <span>Donate</span>
            <mat-divider class="divider"></mat-divider>
            <div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div> -->
    <mat-divider></mat-divider>
  
    <p style="margin: 1rem;">
      © {{currentYear}} Farfetchr LLC. All rights reserved of the original content. This site is not affiliated with or
      endorsed by Bandai Namco Holdings Inc. or any of its subsidiaries.
      Any use of TEKKEN® 8 copyrighted materials is believed to be fair use.
    </p>
  
  </div>
</footer>