<div class="mat-app-background" style="min-height: 100vh;">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <mat-divider></mat-divider>
  <div class="footer-content">
    <div style="margin-top: 2rem;">
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile style="display:flex;f: baseline;">
          <div style="width: 100%; height: 100%;padding: 1rem;">
            <span>Social Media</span>
            <mat-divider class="divider"></mat-divider>
            <div>
              <a href="https://twitter.com/farfetchrsearch" style="display: flex;align-items: center;">
                <img style="width: 16px; height: 16px; padding-right: .5rem;" src="../assets/xLogo.png" />
                <span>Twitter</span>
              </a>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display:flex;f: baseline;">
          <div style="width: 100%; height: 100%;padding: 1rem;">
            <span>Legal</span>
            <mat-divider class="divider"></mat-divider>
            <div >
              <a href="/terms" style="display: flex;align-items: center;">
                <span>Terms of Service</span>
              </a>
              <a href="/privacy" style="display: flex;align-items: center;">
                <span>Privacy Policy</span>
              </a>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display:flex;f: baseline;">
          <div style="width: 100%; height: 100%;padding: 1rem;">
            <span>Donate</span>
            <mat-divider class="divider"></mat-divider>
            <div>
              <a href="https://ko-fi.com/farfetchr" style="display: flex;align-items: center;">
                <img style="width: 24px; height: 16px; padding-right: .5rem;" src="../assets/kofiLogo.png" />
                <span>Kofi</span>
              </a>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <mat-divider></mat-divider>
    <p style="margin: 1rem;">
      © {{currentYear}} Farfetchr LLC. All rights reserved of the original content. This site is not affiliated with or endorsed by Bandai Namco Holdings Inc. or any of its subsidiaries.
      Any use of TEKKEN® 8 copyrighted materials is believed to be fair use.
    </p>
  </div>
</footer>