<div
  style="background: url(https://media.graphassets.com/3HxPBYAaQi6WQluLqETl) center center / cover no-repeat; position: absolute; height: 100vh; width: 100%;">
</div>
<div style="display: flex; min-height: 100vh; flex-flow: column; max-width: 1500px; margin: auto; padding: .5rem;">
  <mat-tab-group style="width: 100%;max-width: 1500px;" mat-stretch-tabs="false" mat-align-tabs="center"
    animationDuration="100">
    <mat-tab label="Americas">
      <div style="color: white; z-index: 2; display: flex; justify-content: center;">
        <span style="display: inline-flex;align-items: center;"><mat-icon style="padding-right: .5rem;" matTooltip="Only qualified players. You must have 30 or more battles within the last 30 days.">info_outline</mat-icon><h2>{{headerText}}</h2></span>
      </div>
      <div class="inner-flex">
        <div style="margin: 1rem 1rem 0rem 1rem; display: inline-flex;justify-content: space-between;flex-wrap: wrap;">
          <form style="padding-right: 1rem;">
            <mat-form-field>
              <input type="text" placeholder="Filter" aria-label="Search" matInput [formControl]="filterControl"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredPlayers | async; track option) {
                <mat-option [value]="option.name">{{option.name}}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <form>
            <mat-form-field>
              <mat-label>Character</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     matInput
                     [formControl]="charControl"
                     [matAutocomplete]="charAuto">
              <mat-autocomplete #charAuto="matAutocomplete" (optionSelected)="charSelected($event)">
                @for (option of filteredChars | async; track option) {
                  <mat-option [value]="option">
                    {{option}}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        @if (isLoading) {
        <div style="width: 100%;
                height: 75vh;
                display: flex;
                justify-content: center;
                align-items: center;">
          <mat-spinner></mat-spinner>
        </div>
        }
        @else {
        @if(qualifiedPlayers.length >0){
        <div style="display: flex;flex-flow: column;">
          @for (player of filteredQualifiedPlayers| async; track player; let idx = $index) {
          <div class="player-card" (click)="routeToPlayerInfo(player.tekken_id)">
            <div style="background: rgba(38, 86, 116, 1);
              height: 100%;
              min-width: 48px;
              align-items: center;
              display: flex;
              justify-content: center;
              padding: 0rem 0.25rem 0rem 0.25rem;
              ">
              <div style="display: inline-flex;align-items: center; justify-content: space-around;">
                @if(player.ranking+1==1){
                <span style="font-size: 2rem;font-family: Tekken; color: gold;">1</span>
                }@else if (player.ranking+1 ==2) {
                <span style="font-size: 2rem;font-family: Tekken;color: silver;">2</span>
                }@else if (player.ranking+1 ==3) {
                <span style="font-size: 2rem;font-family: Tekken;color: rgb(184,115,51);">3</span>
                }
                @else {
                <div style="font-size: 1.5rem;font-family: Tekken;">{{player.ranking+1}}</div>
                }
              </div>
            </div>
            <div style="display: inline-flex;justify-content: space-between;width: 100%;">
              <div
                style="display: inline-flex; width: 100%; align-items: center; justify-content: space-between;">
                @if(screenWidth >1000){
                <div style="display: inline-flex;align-items: center; padding-left: .5rem; width: 20%;">
                  <img style="background: linear-gradient(to bottom, transparent, black); border-radius: .25rem;"
                    width="42px" src="../../../assets/small-character-thumbnails/{{player.id}}.webp" loading="eager">
                  <a href="/playerInfo/{{player.tekken_id}}" style="padding-left: .5rem;">{{player.name}}</a>
                </div>
                }
                @else {
                  <div style="display: inline-flex;align-items: center; padding-left: .5rem; width: 60%;">
                    <img style="background: linear-gradient(to bottom, transparent, black); border-radius: .25rem;"
                      width="42px" src="../../../assets/small-character-thumbnails/{{player.id}}.webp" loading="eager">
                    <a href="/playerInfo/{{player.tekken_id}}" style="padding-left: .5rem;">{{player.name}}</a>
                  </div>
                }
                @if(screenWidth >1000){
                <div style="width: 20%;">
                    <span style="padding-left: 1rem;" width="100px">{{this.utilities.charaIdMap.get(player.id)}}</span>
                </div>
                }
                <div style="width: 20%;">
                  <span>Battles: {{player.battle_count}}</span>
                </div>
                <div style="width: 20%;">
                  <span>Rating: {{player.rating}}</span>
                </div>
                @if(screenWidth >1000){
                <div style="width: 20%;">
                  <span>Updated: {{player.date}}</span>
                </div>
                }
              </div>
            </div>
          </div>
          }
        </div>
        }
        }

      </div>
    </mat-tab>
    <mat-tab label="States">
      <div style=" z-index: 2;">
        <app-interactive-map></app-interactive-map>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>