// /* You can add global styles to this file, and also import other style files */
// @import "custom-theme.scss";

@font-face {
    font-family: 'Tekken';
    src: url('./assets/tarrgetcond.ttf')  format('truetype')
}

@font-face {
    font-family: 'Tekken Outlined';
    src: url('./assets/tarrgetacad.ttf')  format('truetype')
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
