<div
    style="display: flex; justify-content: center;min-height: 100vh; background: linear-gradient(180deg, #311122, transparent);">
    <div class="inner-flex">
        <div style="display: flex; padding-left: 1rem; color: white;">
            <h1>FAQ</h1>
        </div>
        <mat-divider></mat-divider>
        <div style="color: white; margin: 1rem;">
            <div class="list-item">
                <h3 class="manual-break">Where am I on the leaderboard how do I get added?</h3>
                <span class="manual-break">If you want to be added / removed, either fill out the form above or ping
                    IvanOoze - it has been busy for Ivan and I, so we're still getting the flow set-up for
                    authentication. But user accounts should be in soon, bypassing the need for the form!</span>
            </div>
            <div class="list-item">
                <h3  class="manual-break">Where can I make suggestions or report bugs?</h3>
                <span class="manual-break">This is a Work In Progress! If you have any suggestions for the site, please
                    let us know! We can gather your feedback as necessary.</span>
            </div>
            <div class="list-item">
                <h3  class="manual-break">I just got a promotion why is my rank still the old
                    one?</h3>
                <span class="manual-break">If your rank is not up-to-date, it might be because it hasn't recorded any
                    games after you've reached your last rank! In order for the .png to update after a rank change, you
                    must play at least one game before the site will recognize that you are at that updated rank!</span>
            </div>
            <div class="list-item">
                <h3  class="manual-break">What does it mean to be qualified?</h3>
                <span class="manual-break">Qualified just means you've played 30 games in the last 30 days on a given
                    character.</span>
            </div>
            <div class="list-item">
                <h3  class="manual-break">What is the All-time tab?</h3>
                <span class="manual-break">This records the highest GLICKO rating that you've obtained with a given
                    character.</span>
            </div>
            <div class="list-item">
                <h3  class="manual-break">What even is this rating?</h3>
                <span class="manual-break">This is your Tekken 8 GLICKO rating, obtained from your Ranked Match history.
                    For more information, please Google it.</span>
            </div>
        </div>
    </div>
</div>