<div
  style="display: flex; justify-content: center;min-height: 100vh; background: linear-gradient(180deg, #311122, transparent);">
  <div class="inner-flex" style="overflow: hidden;z-index: 1;">
    <div
      style="color: rgba(255, 255, 255, 0.871); padding: 1rem; background: url(https://media.graphassets.com/hTZbojF7RfKctKFfrSK7) center center / cover no-repeat;height: 162px;">
      @if(playerData){
      <h1>{{playerData.name}}</h1>
      <h2>{{tekkenIdDashes}} </h2>
      }
    </div>
    <mat-divider></mat-divider>
    @if(playerData){
    <div style="display: inline-flex;overflow-x: auto;margin: 1rem 1rem 1rem 1rem;">
      @if(playerData.qual_rankings.length > 0){
      <div>
        <div style="color: rgba(255, 255, 255, 0.871);margin: 0rem 2rem;display: inline-flex;align-items: center;">
          <mat-icon style="padding-right: .5rem;" matTooltip="30 or more recent battles (battles within the last month)">info_outline</mat-icon><h3>Qualified</h3>
        </div>
        <mat-divider style="margin: 0rem 1rem;"></mat-divider>
        <div style="display: inline-flex;min-height: 356px; color:rbga(255, 255, 255, 0.871);">
          @for (ranking of playerData.qual_rankings; track $index) {
          <div style="padding-top: 1rem; width: 182px;">
            <div style="display: flex;flex-flow: column;align-items: center;">
              <span>{{this.utilities.charaIdMap.get(ranking.id)}}</span>
              <span style="color: orange;">Rating: {{ranking.rating}}</span>
              <span>Recent Battles: {{ranking.recent_battles.length}}</span>
              <img style="background: linear-gradient(to bottom, transparent, black); border-radius: .25rem;"
                width="128px" height="194px" src="../../../assets/character-thumbnails/{{ranking.id}}.webp">
              <span>Total Battles: {{ranking.battle_count}}</span>
              <span>Updated:</span>
              <span style="font-size: .9rem;">{{ranking.date}}</span>
              <!-- <img style="padding: 1rem;" width="100px" src="../../../assets/ranks/{{ranking.rank}}.png"> -->
            </div>
          </div>
          }
        </div>
      </div>
      }
      @if(playerData.rankings.length > 0){
      <div style="margin: 0rem 0rem 0rem 1rem;">
        <div style="color: rgba(255, 255, 255, 0.871);margin: 0rem 2rem;">
          <h3>Unqualified</h3>
        </div>
        <mat-divider style="margin: 0rem 1rem;"></mat-divider>
        <div style="display: inline-flex;min-height: 356px;overflow-x: auto;color: rgba(255, 255, 255, 0.871);">
          @for (ranking of playerData.rankings; track $index) {
          <div style="padding-top: 1rem; width: 182px;">
            <div style="display: flex;flex-flow: column;align-items: center;">
              <span>{{this.utilities.charaIdMap.get(ranking.id)}}</span>
              <span style="color: orange;">Rating: {{ranking.rating}}</span>
              <span>Recent Battles: {{ranking.recent_battles.length}}</span>
              <img style="background: linear-gradient(to bottom, transparent, black); border-radius: .25rem;"
                width="128px" height="194px" src="../../../assets/character-thumbnails/{{ranking.id}}.webp">
              <span>Battles: {{ranking.battle_count}}</span>
              <span>Updated:</span>
              <span style="font-size: .9rem;">{{ranking.date}}</span>
              <!-- <img style="padding: 1rem;" width="100px" src="../../../assets/ranks/{{ranking.rank}}.png"> -->
            </div>
          </div>
          }
        </div>
      </div>
      }
    </div>
    } @else {
    <div style="width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; height: 428px;">
      <mat-spinner></mat-spinner>
    </div>
    }

    <mat-divider></mat-divider>
    <div style="margin: 1rem;overflow: auto; max-height: 100%;">
      <mat-tab-group style="width: 100%;max-width: 1500px;" mat-stretch-tabs="false" mat-align-tabs="center"
        animationDuration="100">
        <mat-tab label="Replays">
          <div>
            @if (isReplayLoading) {
            <div style="width: 100%;
                height: 25vh;
                display: flex;
                justify-content: center;
                align-items: center;">
              <mat-spinner></mat-spinner>
            </div>
            }
            @else {
            <div style="width: 100%; display: flex;justify-content: center;">
              <h3 style="color:rgba(255, 255, 255, 0.871);">Rating Change</h3>
            </div>
            }
            <div style=" display: flex;justify-content: center; padding: 1rem;">
              <div style="width: 800px; overflow-x: auto;">
                <canvas id="ratings"></canvas>
              </div>
            </div>
            @if (battleCount > 0) {
            <div style="color:rgba(255, 255, 255, 0.871); padding: 1rem">
              <span>Replays Found: {{battleCount}}</span>
            </div>
            }
            <div>
              <div>
                <table [hidden]="isReplayLoading" mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="when">
                    <th mat-header-cell *matHeaderCellDef> When </th>
                    <td mat-cell *matCellDef="let element"> {{element.battle_at_date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="char">
                    <th mat-header-cell *matHeaderCellDef> Char. </th>
                    <td mat-cell *matCellDef="let element"> {{this.tekkenId == element.p1_polaris_id ?
                      utilities.charaIdMap.get(element.p1_chara_id) : utilities.charaIdMap.get(element.p2_chara_id)}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Score </th>
                    <td mat-cell *matCellDef="let element"> <span style="color: rgb(9, 186, 9);">{{this.tekkenId ==
                        element.p1_polaris_id ? element.p1_rounds>element.p2_rounds ? "W": "":
                        element.p2_rounds>element.p1_rounds ? "W": "" }} </span> <span
                        style="color: rgb(243, 39, 36);">{{this.tekkenId == element.p1_polaris_id ?
                        element.p1_rounds>element.p2_rounds ? "": "L": element.p2_rounds>element.p1_rounds ? "": "L" }}
                      </span> {{this.tekkenId == element.p1_polaris_id ? element.p1_rounds
                      +"-"+
                      element.p2_rounds : element.p2_rounds+"-"+element.p1_rounds}} </td>
                  </ng-container>

                  <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef> Rating </th>
                    <td mat-cell *matCellDef="let element">
                      @if (element.p1_rating_before) {
                      {{this.tekkenId == element.p1_polaris_id ?
                      element.p1_rating_before+' '+ (element.p1_rating_change > 0 ? "+" +
                      element.p1_rating_change:element.p1_rating_change) : element.p2_rating_before+'
                      '+(element.p2_rating_change > 0 ? "+" + element.p2_rating_change:element.p2_rating_change)}}
                      } @else {
                      TBD
                      }
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="opponent">
                    <th mat-header-cell *matHeaderCellDef> Opp. </th>
                    <td mat-cell *matCellDef="let element"> {{this.tekkenId == element.p1_polaris_id ? element.p2_name :
                      element.p1_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="opponentChar">
                    <th mat-header-cell *matHeaderCellDef> Opp. Char.</th>
                    <td mat-cell *matCellDef="let element"> {{this.tekkenId == element.p1_polaris_id ?
                      utilities.charaIdMap.get(element.p2_chara_id) : utilities.charaIdMap.get(element.p1_chara_id)}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="opponentrating">
                    <th mat-header-cell *matHeaderCellDef> Opp. Rating </th>
                    <td mat-cell *matCellDef="let element">
                      @if (element.p1_rating_before) {
                      {{this.tekkenId == element.p1_polaris_id ?
                      element.p2_rating_before
                      +'
                      '+(element.p2_rating_change > 0 ? "+" + element.p2_rating_change:element.p2_rating_change) :
                      element.p1_rating_before+' '+(element.p1_rating_change > 0 ? "+" +
                      element.p1_rating_change:element.p1_rating_change)}}
                      } @else {
                      TBD
                      }
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>

              <div [hidden]="isReplayLoading">
                <mat-paginator [length]="battleCount" (page)="onPageChange($event)" [pageSizeOptions]="[25, 50, 100]"
                  aria-label="Select page of users"></mat-paginator>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Matchups">
          @if(isMatchupLoading){
          <div style="width: 100%;
                height: 256px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;">
            <mat-spinner></mat-spinner>
            <span style="color: rgba(255, 255, 255, 0.871); padding: 1rem;"> Collecting all replay data...</span>
          </div>
          } @else {
          <h3 style="display: flex;justify-content: center;">Overall Win:<span
              style="padding-left: .5rem;">{{this.overallWinPercent}}%</span></h3>
          <div class="matchup-grid">
            @for (matchup of matchupMap.entries(); track $index) {
            <div style="display: flex; align-items: center;">
              @if($index == 0){
              <mat-icon>star</mat-icon>
              }
              <span>{{this.utilities.charaIdMap.get(matchup[0])}} ({{matchup[1].wins}} - {{matchup[1].losses}}) <span
                  [ngStyle]="{'color': matchup[1].wins > matchup[1].losses? 'green':'red'}">{{(matchup[1].wins/(matchup[1].wins+matchup[1].losses)*100).toFixed(2)}}%</span></span>
            </div>
            }
          </div>
          }
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>